<ul>
<li><span><%= data.count%> preguntas</span></li>
<li><span><%= data.comments%> comentarios totales</span></li>
<li><span><%= data.pregConComments %> preguntas con comentarios</span></li>
<li><span><%= data.countUnpublished %> comentarios sin publicar</span></li>
<li><span><%= data.pregSinComments %> preguntas sin comentarios</span></li>
<li><span>Hay una media de <%= data.mediaComPreg %> comentarios por pregunta</span></li>
</ul>

